.line_308{
  stroke-width: 8;
  stroke: red;
}

.line_318{
  stroke-width: 8;
  stroke: red;
}

.line_308_318{
  stroke-width: 12;
  stroke: red;
}

.line_302{
  stroke-width: 8;
  stroke: blue;
}

.line_310{
  stroke-width: 8;
  stroke: blue;
}

.line_302_310{
  stroke-width: 12;
  stroke: blue;
}

.line_306{
  stroke-width: 8;
  stroke: orange;
}

.line_U35{
  stroke-width: 8;
  stroke: green;
}

.line_Rathaus_hbf{
  stroke-width: 15;
  stroke: black;
}

.Schrift308{
  fill: red;
  font-size: 1.5em;
}

.Schrift302{
  fill: blue;
  font-size: 1.5em;
}

.Schrift306{
  fill: orange;
  font-size: 1.5em;
}

.SchriftU35{
  fill: green;
  font-size: 1.5em;
}

.circleHauptbahnhof{
  stroke-width: 4;
  stroke: grey;
}
